@import url("https://fonts.googleapis.com/css?family=Open+Sans");

form .error {
  color: #ff0000;
}

.autocomplete{
  position: relative;
}

/* classe à mettre sur le ul */
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: blue;
  margin:0;
  padding:0;
}

.autocomplete-items li{
  list-style-type: none;
  margin:0;
  padding:0;
}

.autocomplete-items li:hover {
  background-color: #e9e9e9;
}

