<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form class="container">
    <div id="alert"></div>
      <div class="form-group col-lg-12">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
        />
      </div>
      <div class="form-group col-lg-12">
        <label for="departement">Département</label>
        <select class="form-control" name="departement" id="departement">
            <option value=""></option>
            {% for departement in departements %}
                <option value="{{ departement.id }}">{{ departement.description }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group col-lg-12">
        <label for="sousdepartement">Sous-département</label>
        <select class="form-control" name="sousdepartement" id="sousdepartement">
          <option value=""></option>
        </select>
      </div>
      <div class="form-group col-lg-12">
        <label for="categorie">Catégorie</label>
        <select class="form-control" name="categorie" id="categorie">
          <option value=""></option>
        </select>
      </div>

      <button class="btn btn-success form-control" id="soumettre">Soumettre</button>
    </form>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
      integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
      crossorigin="anonymous"
    ></script>
    <script src="../static/script-creation.js"></script>
  </body>
</html>
