<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
      <link
              rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous"
      />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <form autocomplete="off" class="container">
      <h1>Recherche par description</h1>
      <div class="autocomplete">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
        />
        <ul class="autocomplete-items">
          <!-- On ajoute les items de la recherche ici -->
          <!-- <li>Item1</li> -->
        </ul>
      </div>
      <button class="btn btn-success form-control" id='soumettre'>Soumettre</button>
    </form>
    <table style="display: none" class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Département</th>
                <th scope="col">Sous-département</th>
                <th scope="col">Catégorie</th>
            </tr>
            </thead>
            <tbody id="resultats">

            </tbody>
        </table>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="../static/script-recherche.js"></script>
  </body>
</html>
